{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<center>
<table>
<tr>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fas fa-database" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fas fa-cloud-upload-alt" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fas fa-cogs" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fas fa-bug" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fab fa-android" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fas fa-bug" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fab fa-apple" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fas fa-code" style="font-size: 80px;"></i></a></td>
<td width="10%"><a href="{{ path('groupe_new') }}"><i class="fas fa-broadcast-tower" style="font-size: 80px;"></i></a></td></table>

</center>
{% endblock %}