{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entreprise</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Identreprise</th>
                <td>{{ entreprise.idEntreprise }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entreprise.status }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if entreprise.date %}{{ entreprise.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entreprise_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('entreprise_edit', { 'id': entreprise.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
